* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 12;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 5px solid black;
    width: 100vw;
    height: 100vh;
}

.spot {
    border: 1px solid red;
    display: grid;
    place-items: center;
    font-size: 3em;
    font-weight: bold;
}